@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

* {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

.heading {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -1.92px;
  margin-top: 100px;
  margin-bottom: 80px;
}
@media (max-width: 1000px) {
  .heading {
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 60px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-size: 20px;
  color: #1A1A1A;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}
html a,
body a {
  text-decoration: none;
  color: #1A1A1A;
}
html li,
body li {
  list-style: none;
}

._container {
  max-width: 1352px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 1000px) {
  ._container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.news {
  margin-bottom: 200px;
}
@media (max-width: 1000px) {
  .news {
    margin-bottom: 80px;
  }
}
.news__heading {
  text-align: center;
}
.news__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .news__item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__item-wrapper .news__item {
    margin-bottom: 40px;
  }
  .news__item-wrapper .news__item:last-child {
    margin-bottom: 0;
  }
}
.news__item {
  max-width: 424px;
}
@media (max-width: 1000px) {
  .news__item {
    max-width: 100%;
  }
}
.news__item-img {
  width: 424px;
  height: 274px;
  border-radius: 20px;
  background: #C9C9C9;
  margin-bottom: 40px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .news__item-img {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 15px;
    height: 220px;
  }
}
.news__item-title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .news__item-title {
    margin-bottom: 10px;
    font-size: 26px;
  }
}
.news__item-text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
}
@media (max-width: 1000px) {
  .news__item-text {
    font-size: 18px;
  }
}

.directions {
  background: #6A65FF;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}
@media (max-width: 1000px) {
  .directions {
    border-radius: 0;
  }
}
.directions * {
  color: white;
}
.directions__body {
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .directions__body {
    padding-bottom: 60px;
  }
}
.directions__heading {
  margin-top: 150px;
}
@media (max-width: 1000px) {
  .directions__heading {
    margin-top: 80px;
  }
}
.directions__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .directions__item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .directions__item-wrapper .directions__item {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.directions__item {
  border-radius: 20px;
  padding: 40px;
  background: white;
  margin-right: 40px;
  cursor: pointer;
}
.directions__item:last-child {
  margin-right: 0;
}
.directions__item * {
  color: #1A1A1A;
}
.directions__item:hover .directions__item-img {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
@media (max-width: 1000px) {
  .directions__item {
    padding: 30px;
    border-radius: 15px;
  }
  .directions__item:hover .directions__item-img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.directions__item-img {
  height: 231px;
  border-radius: 20px;
  background: #6A65FF;
  margin-bottom: 55px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (max-width: 1000px) {
  .directions__item-img {
    margin-bottom: 20px;
    border-radius: 15px;
  }
}
.directions__item-title {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.96px;
  padding-bottom: 60px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 1000px) {
  .directions__item-title {
    font-size: 24px;
  }
}

.waiting {
  background: #6A65FF;
  padding-bottom: 100px;
}
@media (max-width: 1000px) {
  .waiting {
    padding-bottom: 20px;
  }
}
.waiting * {
  color: white;
}
.waiting__content {
  border-radius: 20px;
  padding: 120px 60px 120px 60px;
  background: white;
}
@media (max-width: 1000px) {
  .waiting__content {
    border-radius: 15px;
    padding: 60px 30px 60px 30px;
  }
}
.waiting__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 160px;
}
.waiting__item-wrapper:last-child {
  margin-bottom: 0px;
}
@media (max-width: 1000px) {
  .waiting__item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}
.waiting__item-wrapper:nth-child(1) .waiting__item-block:nth-child(1) .waiting__item:nth-child(1) .waiting__item-icon {
  background: url(../source/menu_book.svg);
}
.waiting__item-wrapper:nth-child(1) .waiting__item-block:nth-child(1) .waiting__item:nth-child(2) .waiting__item-icon {
  background: url(../source/favorite.svg);
}
.waiting__item-wrapper:nth-child(1) .waiting__item-block:nth-child(2) .waiting__item:nth-child(1) .waiting__item-icon {
  background: url(../source/groups.svg);
}
.waiting__item-wrapper:nth-child(1) .waiting__item-block:nth-child(2) .waiting__item:nth-child(2) .waiting__item-icon {
  background: url(../source/thumb_up_alt.svg);
}
.waiting__item-wrapper:nth-child(2) .waiting__item-block:nth-child(1) .waiting__item:nth-child(1) .waiting__item-icon {
  background: url(../source/volunteer_activism.svg);
}
.waiting__item-wrapper:nth-child(2) .waiting__item-block:nth-child(1) .waiting__item:nth-child(2) .waiting__item-icon {
  background: url(../source/assignment_turned_in.svg);
}
.waiting__item-wrapper:nth-child(2) .waiting__item-block:nth-child(2) .waiting__item:nth-child(1) .waiting__item-icon {
  background: url(../source/sentiment_very_satisfied.svg);
}
.waiting__item-wrapper:nth-child(2) .waiting__item-block:nth-child(2) .waiting__item:nth-child(2) .waiting__item-icon {
  background: url(../source/apartment.svg);
}
.waiting__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 52px;
}
.waiting__item-block:last-child {
  margin-right: 0;
}
@media (max-width: 1000px) {
  .waiting__item-block {
    margin-bottom: 40px;
    margin-right: 0;
  }
}
.waiting__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 52px;
}
.waiting__item:last-child {
  margin-right: 0;
}
.waiting__item * {
  color: #1A1A1A;
}
.waiting__item-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
}
.waiting__item-title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.96px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 270px;
}
@media (max-width: 1000px) {
  .waiting__item-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.waiting__item-text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
  text-align: center;
  max-width: 270px;
}
@media (max-width: 1000px) {
  .waiting__item-text {
    font-size: 18px;
  }
}

.info {
  background: #6A65FF;
  padding-bottom: 200px;
}
@media (max-width: 1000px) {
  .info {
    padding-bottom: 80px;
  }
}
.info * {
  color: white;
}
.info__heading {
  font-size: 50px;
}
@media (max-width: 1000px) {
  .info__heading {
    font-size: 32px;
  }
}
.info__text {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1.08px;
  margin-bottom: 40px;
}
.info__text:last-child {
  margin-bottom: 150px;
}
.info__text span {
  font-weight: 500;
}
@media (max-width: 1000px) {
  .info__text {
    font-size: 24px;
  }
}
.info__date {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  background: white;
  color: #1A1A1A;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1000px) {
  .info__date {
    font-size: 24px;
    border-radius: 15px;
    height: 80px;
  }
}

.accept {
  margin-bottom: 200px;
}
@media (max-width: 1000px) {
  .accept {
    margin-bottom: 100px;
  }
}
.accept__heading {
  text-align: center;
}
.accept__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .accept__item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.accept__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 512px;
  height: 150px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #C9C9C9;
  margin-bottom: 20px;
}
.accept__item:last-child {
  margin-bottom: 0;
}
.accept__item.lg {
  width: 400px;
  height: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 0;
}
.accept__item.lg .accept__item-num {
  margin-bottom: 15px;
  margin-right: 0;
}
.accept__item.lg .accept__item-title {
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .accept__item {
    width: 100%;
  }
  .accept__item.lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
  }
  .accept__item.lg .accept__item-text {
    display: none;
  }
  .accept__item.lg .accept__item-num {
    margin-right: 15px;
  }
  .accept__item.lg:last-child {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
.accept__item-num {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1.92px;
  margin-right: 20px;
  color: #6A65FF;
}
.accept__item-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .accept__item-title .accept__item-title {
    font-size: 20px;
  }
}
.accept__item-text {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.45px;
}
.buttons {
  margin-bottom: 200px;
}
@media (max-width: 1000px) {
  .buttons {
    margin-bottom: 80px;
  }
}
.buttons__btn {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.92px;
  margin-bottom: 40px;
  cursor: pointer;
}
.buttons__btn:last-child {
  margin-bottom: 0;
}
.buttons__btn.default {
  background: radial-gradient(1928.53% 105.68% at 75.92% 19%, rgba(106, 101, 255, 0.9) 0%, #6A65FF 67.71%);
  color: white;
}
.buttons__btn.primary {
  background: radial-gradient(3817.72% 131.12% at 28.92% 40.67%, rgba(171, 229, 249, 0.88) 0%, #ABE5F9 100%);
  color: #2B2D3C;
}
@media (max-width: 1000px) {
  .buttons__btn {
    font-weight: 400;
    height: 80px;
    font-size: 28px;
    border-radius: 15px;
    margin-bottom: 20px;
    letter-spacing: -1.22px;
  }
}

.footer {
  background: #070127;
}
.footer * {
  color: white;
}
.footer__body {
  padding-top: 80px;
  padding-bottom: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__logo {
  width: 207px;
  height: 50px;
  background: url(../source/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1000px) {
  .footer__logo {
    margin-bottom: 60px;
  }
}
.footer__navigation {
  margin-left: 500px;
}
.footer__navigation li {
  margin-bottom: 20px;
}
.footer__navigation li:last-child {
  margin-bottom: 0;
}
.footer__navigation li a {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.72px;
}
@media (max-width: 1000px) {
  .footer__navigation li a {
    font-size: 28px;
  }
}
@media (max-width: 1000px) {
  .footer__navigation {
    margin-left: 0;
  }
}
.footer__bottom {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .footer__bottom {
    bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
}
.footer__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  .footer__social-wrapper {
    margin-bottom: 40px;
  }
}
.footer__social {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .footer__social {
    margin-right: 40px;
    width: 46px;
    height: 46px;
  }
}
.footer__social:last-child {
  margin-right: 0;
}
.footer__social:nth-child(1) {
  background: url(../source/insta.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__social:nth-child(2) {
  background: url(../source/telegram.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__social:nth-child(3) {
  background: url(../source/whatsapp.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__social:nth-child(4) {
  background: url(../source/vk.svg);
  background-size: cover;
  background-repeat: no-repeat;
}