.buttons {
    margin-bottom: 200px;
    &__container {
    }

    &__body {

    }

    &__btn {
        width: 100%;
        height: 120px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: -1.92px;
        margin-bottom: 40px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }

        &.default {
            background: radial-gradient(1928.53% 105.68% at 75.92% 19%, rgba(106, 101, 255, 0.90) 0%, #6A65FF 67.71%);
            color: $main-color;
        }
        &.primary {
            background: radial-gradient(3817.72% 131.12% at 28.92% 40.67%, rgba(171, 229, 249, 0.88) 0%, #ABE5F9 100%);
            color: $secondary-color;
        }
    }
}
