.info {
    background: $primary-color;
    padding-bottom: 200px;
    @media (max-width: $f-point) {
        padding-bottom: 80px;
    }
    * {
        color: $main-color;
    }
    &__container {
    }

    &__body {
    }

    &__heading {
        font-size: 50px;

        @media (max-width: $f-point) {
            font-size: 32px;
        }
    }

    &__text {
        font-size: 32px;
        font-weight: 300;
        letter-spacing: -1.08px;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 150px;
        }
        span {
            font-weight: 500;
        }

        @media (max-width: $f-point) {
            font-size: 24px;
        }
    }

    &__date {
        width: 100%;
        height: 120px;
        border-radius: 20px;
        background: $main-color;
        color: $text-color;
        font-size: 40px;
        font-weight: 500;
        letter-spacing: -1.74px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $f-point) {
            font-size: 24px;
            border-radius: 15px;
            height: 80px;
        }
    }
}
