.news {
    margin-bottom: 200px;
    @media (max-width: $f-point) {
        margin-bottom: 80px;
    }
    &__container {
    }

    &__body {
    }

    &__heading {
        text-align: center;
    }

    &__item-wrapper {
        display: flex;
        justify-content: space-between;
        @media (max-width: $f-point) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .news__item {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__item {
        max-width: 424px;
        @media (max-width: $f-point) {
            max-width: 100%;
        }
    }

    &__item-img {
        width: 424px;
        height: 274px;
        border-radius: 20px;
        background: $text-secondary;
        margin-bottom: 40px;
        cursor: pointer;

        @media (max-width: $f-point) {
            margin-bottom: 20px;
            width: 100%;
            border-radius: 15px;
            height: 220px;
        }
    }

    &__item-title {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: -0.96px;
        margin-bottom: 20px;
        @media (max-width: $f-point) {
            margin-bottom: 10px;
            font-size: 26px;
        }
    }

    &__item-text {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.6px;

        @media (max-width: $f-point) {
            font-size: 18px;
        }
    }
}